
.card-user .avatar{
    width: 124px;
    height: 124px;
    margin: auto;
}
.card .avatar {
    border-radius: 50%;
    margin-top: 20px;
}
.card .card-profil_info {
    padding: 0;
}
.card .card-profil_info li{
    list-style: none;
}

.card-user .titre {
    color: #4e73df;
}

/*** Home Book ****/
.card-book img {
    height: 200px;
    width: 100%;
}



.card-book .card-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
.card-book .card-text {
    font-size: 12px;
}
.card-book {
    border: none!important;
    border-radius: 0;
}

.card-book .card-img-top {
    border-left: 0;
}

/*** ***/
#the-canvas {
    width: 750px;
    height: 900px;
    direction: ltr;
}

/**** Input Upload File ****/
#fcouverture, #avatar {
    display: none;
}
.upload label {
    color:  rgba(0, 0, 0, 0.7);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-left: 7px;
}